﻿<div class="jumbotron">
    <h1>Suit Supply Web API</h1>
    <p class="lead">This is WEB API Rest for Product Model </p> 
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Model Description</h2>
        <p>Product Model<br />
{<br />
Id, - int32 ID<br />
Name, - string, not null <br />
Photo, - binary , nullable (we don't have a field for file type, so we will accept only .png  and .jpg files), must be only image, otherwise error will raise <br />
Price, - int 32, not null <br />
LastUpdated, - DateTime, not null <br />
}</p>
    </div>
    <div class="col-md-4">
        <h2>Data Format and examples</h2>
        <p>Usual API REST with GET, POST, PUT, DELETE functions</p>
        <p>Data format: </p>
        <p>{"Id":Numeric,<br />
        "Name":"string",<br />
        "Photo":"Binary",<br />
        "Price":numeric,<br />
        "LastUpdated":"DateTime"}</p>
        <p>
            {"Id":24,<br />
            "Name":"11111",<br />
            "Photo":"DataArray",<br />
            "Price":324.0,<br />
            "LastUpdated":"2016-07-04T18:47:02.08"}
        </p>
        <p>Examples:</p>
        <p>@Html.ActionLink("api/products", "", "api/products", new { area = "" }, null)</p>
        <p>@Html.ActionLink("api/products/1", "", "api/products/1", new { area = "" }, null)</p>
        <p>For next quieres use Fiddler or something like this:</p>
        <p>post api/products/ + data format example</p>
        <p>put api/products/id + data format example</p>
        <p>delete api/products/id </p>
    </div>
   
    <div class="col-md-4">
        <h2>Solution projects</h2>
        <p>1.SuitSupplyClassLibrary - contains data model, some classes, data annotations and interfaces. <br />
 <b>firsly, build a model</b> </p>
        <p>2.SuitSupply - contains REST API in ProductsController.cs and some additional controllers for Web admin for working with data.<br />
           Just run this project and you will see short documentations.</p>
        <p>3.SuitsupplyClassLibrary - unit tests and mocking interfaces for ProductsController.cs. </p>       
    </div>
</div>
